.container.jumbotron
  .text-center
    %h1 Welcome to the PhDQual Flash Cards
  .row
    .mx-auto
      = link_to "Start Practice", selcat_path, class: "btn btn-lg btn-primary"
      = link_to "Start Quiz", selquiz_index_path, class: "btn btn-lg btn-primary"