
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Helvetica Neue", Helmet, Freesans, sans-serif;
    font-weight: 300;
    overflow-x: hidden;
    box-sizing: border-box;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    -webkit-font-feature-settings: "liga", "dlig" 0;
    font-feature-settings: "liga", "dlig" 0;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
a {
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    /*background-color: transparent !important;*/
}
 ul,li{
     list-style:none;
 }
 strong, b {
    font-weight: 600;
}
::placeholder {
    opacity: 0.6 !important;
}

.correct{
    border: 2px solid green;
    border-radius: 4px;
}
.wrong{
    border: 1px solid red;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.error{
    color:red;
}
.success{color:green;}
.preview1,.preview2,.preview3,.preview4,.preview5,.previewquestion{
    margin-top:8px;
}
/*Create question*/
.createquestion input:not([type=submit]), .createrecipe input:not([type=submit]) {
    margin-top: 8px;
}
table.dataTable tbody td{
    padding: 0px 10px !important;
    text-align: center;
}
table.dataTable thead th{
    text-align: center !important;
}
.truncate {
    max-width: 250px;
    text-align: left !important;
  }
  #studentsTB{
      margin-bottom: 24px;
  }
  
/*reseting classes*/
.jumbotron{
    padding:2rem 3rem;
     min-height: 400px;
}
.container {
    min-height: 600px;
}
.questionItem{
    min-height:300px;
}
.questionItem h3{
    margin-top: 8px;
}
.container {
   min-height:100%;
   position:relative;
}
.footer {
   position:absolute;
   bottom:0;
   width:100%;
      /* Height of the footer */
}
